<section>
  <button class="upvote" (click)="upvote($event)">
    <img src="../../assets/blue-arrow-up.svg" alt="" />{{
      productRequest.upvotes
    }}
  </button>

  <div class="details">
    <h3>{{ productRequest.title }}</h3>
    <p>{{ productRequest.description }}</p>

    <span class="tag">{{
      productRequest.category.charAt(0).toUpperCase() +
        productRequest.category.slice(1)
    }}</span>
  </div>
  <div class="comment-box">
    <button class="comment">
      <img src="../../assets/comment.svg" alt="" />
    </button>
    <p>{{ productRequest.commentCount }}</p>
  </div>
</section>
