<section>
  <header>
    <img src="../../assets/bulb.svg" />
    <h2>6 Suggestions</h2>

    <!-- <div class="sort">
      <p>Sort by :</p>
      <button class="toggle">
        Most upvotes <img src="../../assets/arrow-down.svg" />
      </button>
    </div> -->

    <div class="select">
     <p>
      Sort By :
     </p> 
      <mat-form-field >
        <mat-select placeholder="Most Upvotes">
          <mat-option value="most-upvotes">Most Upvotes</mat-option>
          <mat-option value="least-upvotes">Least Upvotes</mat-option>
          <mat-option value="most-comments">Most Comments</mat-option>
          <mat-option value="least-comments">Least Comments</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <a routerLink="/add-feedback" class="feedback-link">
      <button class="feedback-btn">+ Add Feedback</button>
    </a>
  </header>

  <a [routerLink]="['details', 1]">
    <app-feedback *ngIf="true; else elseBlock"> </app-feedback>
  </a>
  <a [routerLink]="['details', 2]">
    <app-feedback *ngIf="true; else elseBlock"> </app-feedback>
  </a>
  <ng-template #elseBlock>
    <app-no-feedback></app-no-feedback>
  </ng-template>
</section>
